<p id="notice"><%= notice %></p>
<header>
	<h1>Użytkownik</h1>
</header>
<div id="content">
	<p>
	  <strong>Nazwa użytkownika:</strong>
	  <%= @user.username %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<b><%= link_to 'Edytuj', edit_user_path(@user) %></b><br>
	<b><%= link_to 'Powrót', users_path %></b>
</div>